@model ProductVM

<form method="post" enctype="multipart/form-data" >
    <div class="border p-2">
        <h3>@((@Model.product.Id == null || @Model.product.Id == 0) ? "CERATE" : "UPADTE") PRODUCT</h3>
    </div>
    <div class="border p-4">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="product.Id" hidden />
        <input asp-for="product.ImageURL" hidden/>
        <div class="d-flex flex-row align-items-stretch">
            <div class="d-flex flex-column"  style="width:50%" >
                <div class="form-group mb-2">
                    <label asp-for="product.Title"></label>
                    <input asp-for="product.Title" class="form-control"/>
                    <span asp-validation-for="product.Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="product.Author"></label>
                    <input asp-for="product.Author" class="form-control" />
                    <span asp-validation-for="product.Author" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="product.Description"></label>
                    <input asp-for="product.Description" class="form-control" />
                    <span asp-validation-for="product.Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="product.ISBN"></label>
                    <input asp-for="product.ISBN" class="form-control" />
                    <span asp-validation-for="product.ISBN" class="text-danger"></span>
                </div>
            </div>  
            <div class="m-2 d-flex justify-content-end" style="width:50%">
                <img src="@Model.product.ImageURL" style="width:60%"/>
            </div>
        </div>
      
        <div class="form-group mb-2">
            <label asp-for="product.ListPrice"></label>
            <input asp-for="product.ListPrice" class="form-control" />
            <span asp-validation-for="product.ListPrice" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="product.Price"></label>
            <input asp-for="product.Price" class="form-control" />
            <span asp-validation-for="product.Price" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="product.Price50"></label>
            <input asp-for="product.Price50" class="form-control" />
            <span asp-validation-for="product.Price50" class="text-danger"></span>
        </div>
         <div class="form-group mb-2">
            <label asp-for="product.Price100"></label>
            <input asp-for="product.Price100" class="form-control" />
            <span asp-validation-for="product.Price100" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="product.CategoryId"></label>
            <!--  <select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" class="form-control form-select"> -->
            <!--  <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control form-select"> -->
            <select asp-for="product.CategoryId" asp-items="@Model.categoryList" class="form-control form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="product.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Image URL</label>
            <input type="file" name="imageFile" class="form-control" />
        </div>
        <div class="d-flex justify-content-between align-items">
            @if (@Model.product.Id == null || @Model.product.Id == 0)
            {
                <button type="submit" asp-controller="Product" asp-action="Upsert" class="btn btn-dark m-2" style="width:50%">CRETAE</button>
            }else{
                <button type="submit" asp-controller="Product" asp-action="Upsert" class="btn btn-dark m-2" style="width:50%">UPDATE</button>
            }
            <a asp-controller="Product" asp-action="Index" class="btn btn-light btn-outline-dark m-2" style="width:50%">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
@{
<partial name = "_ValidationScriptsPartial"/>
}
}